body {
    text-align: center;
    margin-top: 100px;
}

.btn {
    background-color: green;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: darkgreen;
}
