body {
    background-color: #e6f2ff;
    font-family: Arial;
}

.card {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
