table {
    width: 60%;
    margin: 50px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid rgb(231, 243, 9);
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ee0a0a;
}
