body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    list-style: none;
    background-color: #333;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555;
}