body {
    background-color: rgb(16, 8, 9);
    font-family: Arial;
}

.img-card {
    width: 300px;
    background: rgb(237, 9, 9);
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

img {
    width: 100%;
}

p {
    padding: 10px;
}
