body {
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100%;
  background-color: lightgray;
}

.box {
  padding: 30px 50px;
  background-color: steelblue;
  color: white;
  font-size: 20px;
  border-radius: 8px;
}

