body {
    background-color: #0b0a0a;
    font-family: Arial;
}

.login-box {
    background-color: white;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #9aec0b;
    color: white;
    border: none;
}
